
body {
	padding: 5em 0;
}

ul#accordion {
	padding: 0;
}

div.controls {
	padding: 1em 0 0;
}

.loading-icon {
	margin-left: 1em;
	line-height: 38px;
	display: inline-block;
}

.data-table h5 {
	text-align: center;
	margin: 0;
	padding: 0.5rem 0;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.page-score {
	border: 1px solid rgba(0,0,0,.125);
	border-bottom: none;
}

.page-score > .d-flex {
	position: relative;
	background-color: #f7f7f9;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.page-score .d-flex.score-data {
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-block .d-flex > div {
	padding: 5px;
	flex: 1 1 100%;
}

.card-block .d-flex > div:not(:first-child) {
	border-left: 1px solid rgba(0,0,0,.125);
}

.card-block .d-flex.score-data > div {
	line-height: 2em;
	font-size: 0.9em;
	font-weight: 500;
	text-align: right;
}

.card-block .d-flex.score-data > div:first-child {
	flex-grow: 2;
}

.card-block .d-flex.score-data > div:last-child {
	flex-shrink: 2;
}

i.fa-close {
	position: absolute;
	right: 5px;
	top: 10px;
	color: darkred;
	cursor: pointer;
}

a#github-link:hover {
	text-decoration: none;
}

a#github-link:hover span {
	text-decoration: underline;
}

@media(max-width: 575px) {
	h5.card-header {
		font-size: 1em;
	}
}
